--- --- {% include header.html %}
<div class="container py-1">
    <div class="card">
        <div class="card-body">
            <h2 class="display-3  text-center">About Us</h2>
            <h3>Our Mission:</h3>
            <p>All praises be to Allah, and prayer and peace be upon the prophet Muhammad.</p>

            <p>The Mission of the Masjid Al Huda/Islamic Cultural Community Center is, first and foremost, to serve the deen
                of Allah (the religion of Allah):</p>



            <h3>Among our goals:</h3>
            <ul>
                <li>To establish the Islamic rituals: performing the five daily prayers, the Jumuah prayer, and the Eid prayers.</li>
                <li>To make the Muslim community aware of the matter of their deen through lessons and lectures - especially
                    in the field of belief, explanation of Quran, and jurisprudence - both in Arabic and English.</li>
                <li>To provide services, such as Islamic jurisprudence arbitration specialized in the resolution of conflict
                    between members of the community according to Islamic law, as well as the marriage contract and ceremony,
                    and divorce procedures when necessary. In addition, the Center is acting towards responding to all requirements
                    and needs of our community, providing help to as many needy persons as possible, and assisting those
                    who find themselves suddenly in times of difficulty.</li>
                <li>To follow up with Dawah work, and help the Youth develop skills in the field of Dawah. Also, to provide any
                    person interested in Islam with all the information they need.</li>
                <li>To provide Shariah teaching through the weekly masjid halaqas , and to provide Islamic education to the Muslim
                    children through the Al-Ihsan weekend School, which has as its main subjects: Quran, Islamic studies,
                    and Arabic language.
                </li>
                <li>To work on the unity of the Muslims under the authentic Islamic belief (Aqeedah) and the proper Islamic way
                    without entering into conflicts that split our community.</li>
                <li>To work on reinforcing cultural, social, and sporting activities.</li>
                <li>To establish the brotherhood relations between our Center and the other Centers in the state of Minnesota
                    and outside of Minnesota, working towards the general well-being of the Muslims in the United States.</li>
            </ul>

            <p>And Allah is the helper and the guider to the right way.
            </p>
        </div>
    </div>
</div>
<div class="container py-1">
    <div class="card">
        <div class="card-body">
            <h2 class="display-3  text-center">Our Management</h2>
            <h3>Board of Directors</h3>
            Dr. Abdulwahab Asamarai
            <br> Dr. Ali Jaafar
            <br> Dr. Mohammed Nashawatiy
            <br> Br. AbdulKadir Osman
            <br> Br. Mustapha Hammida
            <h3 class="pt-4">Director</h3>
            <h4>Ahmed Abuatieh</h4>
            - MA in Educational &amp; Psychological counseling
            <br> - Hafs Ijaza from Aasim
            <br> - Youth Program Coordinator since 2011
            <br>
        </div>
    </div>
</div>
<div class="container py-1">
    <div class="card">
        <div class="card-body">
            <h2 class="display-3  text-center">Our Imam</h2>
            <h3>Sh. Shaaban Aboubadria</h3>
            <h4 class="pt-4">Degree</h4>

            <ul>
                <li>Bachelor in literature and Education(Tanta university)</li>
                <li>Bachelor degree from faculty of theology (Al-Azhar university in Cairo).</li>
                <li>Masters degree candidate at AlAzhar university Cairo.</li>
            </ul>



            <h4 class="pt-4">Work Experience</h4>

            <ul>
                <li>Arabic Teacher at the ministry of Education.Egypt.</li>
                <li>Arabic Teacher at the ministry of Education.Yemen.</li>
                <li>The head of Arabic department at Tareq bin Ziad Academy.USA</li>
                <li>Imam at Blaine community center.Minnesota USA</li>
                <li>Imam at ICCC masjid alhuda Minneapolis MN.USA</li>
            </ul>



            <h4 class="pt-4">Accomplishments</h4>
            Imam has published or in the process of publishing the following books:

            <h4 class="pt-4">Literature Books</h4>
            <ul>
                <li>Three poetry books.</li>
                <li>Two historical Plays. </li>
                <li>Collection of Stories.</li>
            </ul>

            <h4 class="pt-4">Religious Books</h4>
            <ul>
                <li>Dangerous of the tongue </li>
                <li>Those who are in the shadeof the" most merciful" </li>
                <li>Pulpit Sermons from the Guidance of the best of Mankind. -Dialogue: Principles and benefits.</li>
                <li>Friday Sermons and it's effect of understanding Islam . -Muslim Family in accordance of Qura'n and Sunnah.</li>
            </ul>
        </div>
    </div>
</div>

{% include footer.html %}