--- 
--- 
{% include header.html %}
<div class="container py-1">
    <div class="card">
        <div class="card-body">
            <h2 class="display-3 text-center mb-5">Our Services</h2>
            
            <div class="row">
                <div class="col-sm-5">
                    <img class="img-fluid img-thumbnail rounded mx-auto d-block" src="https://static.wixstatic.com/media/28d262_7960866e61e249cf80f2396103f719c8.jpg">
                </div>
                <div class="col-sm-7">
                        <h3>Prayers</h3>
                    The five daily prayers are held in congregation in the mosque. See the prayer timesheet for details of Iqama and prayer times.
                    Jumuah (Friday) prayer offers 2 services:
                    <br>
                    <i>English at 12:00 PM</i>
                    <br>
                    <i>Arabic at 1:00 PM.</i>
                </div>
            </div>
            <hr class="mt-4">
            
            <div class="row">
                <div class="col-sm-5">
                    <img class="img-fluid img-thumbnail rounded mx-auto d-block" src="https://static.wixstatic.com/media/28d262_7960866e61e249cf80f2396103f719c8.jpg">
                </div>
                <div class="col-sm-7">
                        <h3>Halaqas</h3>
                    There are a number of ongoing halaqas throughout the week. Please check our Activities page for details.
                </div>
            </div>
            <hr class="mt-4">
            
            <div class="row">
                <div class="col-sm-5">
                    <img class="img-fluid img-thumbnail rounded mx-auto d-block" src="https://static.wixstatic.com/media/28d262_7960866e61e249cf80f2396103f719c8.jpg">
                </div>
                <div class="col-sm-7">
                        <h3>Dawah & Outreach</h3>
                    The Center welcomes groups or individuals who wish learn about Islam, or to visit the Center. We also offer meetings for
                    anyone who wishes to speak to a scholar for a purpose of learning , research or wishing to accept Islam.
                    For appointment or visit, please fill out this form.
                </div>
            </div>
            <hr class="mt-4">
            
            <div class="row">
                <div class="col-sm-5">
                    <img class="img-fluid img-thumbnail rounded mx-auto d-block" src="https://static.wixstatic.com/media/28d262_7960866e61e249cf80f2396103f719c8.jpg">
                </div>
                <div class="col-sm-7">
                        <h3>Marriage</h3>
                    Marriage (Nikkah) is performed according to the Islamic Shariah rules. The Center has a license from the State of Minnesota.
                    An appointment should be scheduled in advance. For an appointment please 612-782-3883 or fill out this
                    form. (A valid legal marriage license from the State of Minnesota is needed for all marriages).
                </div>
            </div>
            <hr class="mt-4">
            
            <div class="row">
                <div class="col-sm-5">
                    <img class="img-fluid img-thumbnail rounded mx-auto d-block" src="https://static.wixstatic.com/media/28d262_7960866e61e249cf80f2396103f719c8.jpg">
                </div>
                <div class="col-sm-7">
                        <h3>Family Counceling</h3>
                    Counseling services are available in our Center for personal, family, and interpersonal issues.We will insha'Allah work to
                    provide solutions to social problems; problems such as divorce, marriage counseling, parent-child relationship,
                    neighborhood, friendship, etc. For discussing any social issue or problem with a Counselor, please contact:
                    <br>Johara Mohamed | Marriage & Family Therapist
                    <br>johara@watercoursecounseling.org
                </div>
            </div>
            <hr class="mt-4">
            <h3>Prayers</h3>
            <div class="row">
                <div class="col-sm-5">
                    <img class="img-fluid img-thumbnail rounded mx-auto d-block" src="https://static.wixstatic.com/media/28d262_7960866e61e249cf80f2396103f719c8.jpg">
                </div>
                <div class="col-sm-7">
                    The five daily prayers are held in congregation in the mosque. See the prayer timesheet for details of Iqama and prayer times.
                    Jumuah (Friday) prayer offers 2 services:
                    <br>
                    <i>
                        <i>English at 12:00 PM</i>
                    </i>
                    <br>
                    <i>
                        <i>Arabic at 1:00 PM.</i>
                    </i>
                </div>
            </div>
            <hr class="mt-4">
            <h3>Prayers</h3>
            <div class="row">
                <div class="col-sm-5">
                    <img class="img-fluid img-thumbnail rounded mx-auto d-block" src="https://static.wixstatic.com/media/28d262_7960866e61e249cf80f2396103f719c8.jpg">
                </div>
                <div class="col-sm-7">
                    The five daily prayers are held in congregation in the mosque. See the prayer timesheet for details of Iqama and prayer times.
                    Jumuah (Friday) prayer offers 2 services:
                    <br>
                    <i>
                        <i>English at 12:00 PM</i>
                    </i>
                    <br>
                    <i>
                        <i>Arabic at 1:00 PM.</i>
                    </i>
                </div>
            </div>
            <hr class="mt-4">
            <h3>Prayers</h3>
            <div class="row">
                <div class="col-sm-5">
                    <img class="img-fluid img-thumbnail rounded mx-auto d-block" src="https://static.wixstatic.com/media/28d262_7960866e61e249cf80f2396103f719c8.jpg">
                </div>
                <div class="col-sm-7">
                    The five daily prayers are held in congregation in the mosque. See the prayer timesheet for details of Iqama and prayer times.
                    Jumuah (Friday) prayer offers 2 services:
                    <br>
                    <i>
                        <i>English at 12:00 PM</i>
                    </i>
                    <br>
                    <i>
                        <i>Arabic at 1:00 PM.</i>
                    </i>
                </div>
            </div>
            <hr class="mt-4">
            <h3>Prayers</h3>
            <div class="row">
                <div class="col-sm-5">
                    <img class="img-fluid img-thumbnail rounded mx-auto d-block" src="https://static.wixstatic.com/media/28d262_7960866e61e249cf80f2396103f719c8.jpg">
                </div>
                <div class="col-sm-7">
                    The five daily prayers are held in congregation in the mosque. See the prayer timesheet for details of Iqama and prayer times.
                    Jumuah (Friday) prayer offers 2 services:
                    <br>
                    <i>
                        <i>English at 12:00 PM</i>
                    </i>
                    <br>
                    <i>
                        <i>Arabic at 1:00 PM.</i>
                    </i>
                </div>
            </div>
            <hr class="mt-4">
            <h3>Prayers</h3>
            <div class="row">
                <div class="col-sm-5">
                    <img class="img-fluid img-thumbnail rounded mx-auto d-block" src="https://static.wixstatic.com/media/28d262_7960866e61e249cf80f2396103f719c8.jpg">
                </div>
                <div class="col-sm-7">
                    The five daily prayers are held in congregation in the mosque. See the prayer timesheet for details of Iqama and prayer times.
                    Jumuah (Friday) prayer offers 2 services:
                    <br>
                    <i>
                        <i>English at 12:00 PM</i>
                    </i>
                    <br>
                    <i>
                        <i>Arabic at 1:00 PM.</i>
                    </i>
                </div>
            </div>

        </div>
    </div>
</div>
{% include footer.html %}