--- 
--- 
{% include header.html %}
<div class="container py-1">
    <div class="card">
        <div class="card-body">
            <h2 class="display-3 text-center mb-5">Our Services</h2>
            
            <div class="row">
                <div class="col-sm-5">
                    <img class="img-fluid img-thumbnail rounded mx-auto d-block" src="https://static.wixstatic.com/media/28d262_7960866e61e249cf80f2396103f719c8.jpg">
                </div>
                <div class="col-sm-7">
<h3>Prayers</h3>
                    The five daily prayers are held in congregation in the mosque. See the prayer timesheet for details of Iqama and prayer times.
                    Jumuah (Friday) prayer offers 2 services:
                    <br><br>
                    <i>English at 12:00 PM</i>
                    <br>
                    <i>Arabic at 1:00 PM.</i>
                </div>
            </div>
            <hr class="mt-4">
            
            <div class="row">
                <div class="col-sm-5">
                    <img class="img-fluid img-thumbnail rounded mx-auto d-block" src="https://static.wixstatic.com/media/28d262_7960866e61e249cf80f2396103f719c8.jpg">
                </div>
                <div class="col-sm-7">
                        <h3>Halaqas</h3>
                    There are a number of ongoing halaqas throughout the week. Please check our Activities page for details.
                </div>
            </div>
            <hr class="mt-4">
            
            <div class="row">
                <div class="col-sm-5">
                    <img class="img-fluid img-thumbnail rounded mx-auto d-block" src="https://static.wixstatic.com/media/28d262_7960866e61e249cf80f2396103f719c8.jpg">
                </div>
                <div class="col-sm-7">
                        <h3>Dawah & Outreach</h3>
                    The Center welcomes groups or individuals who wish learn about Islam, or to visit the Center. We also offer meetings for
                    anyone who wishes to speak to a scholar for a purpose of learning , research or wishing to accept Islam.
                    For appointment or visit, please fill out this form.
                </div>
            </div>
            <hr class="mt-4">
            
            <div class="row">
                <div class="col-sm-5">
                    <img class="img-fluid img-thumbnail rounded mx-auto d-block" src="https://static.wixstatic.com/media/28d262_7960866e61e249cf80f2396103f719c8.jpg">
                </div>
                <div class="col-sm-7">
                        <h3>Marriage</h3>
                    Marriage (Nikkah) is performed according to the Islamic Shariah rules. The Center has a license from the State of Minnesota.
                    An appointment should be scheduled in advance. For an appointment please 612-782-3883 or fill out this
                    form. (A valid legal marriage license from the State of Minnesota is needed for all marriages).
                </div>
            </div>
            <hr class="mt-4">
            
            <div class="row">
                <div class="col-sm-5">
                    <img class="img-fluid img-thumbnail rounded mx-auto d-block" src="https://static.wixstatic.com/media/28d262_7960866e61e249cf80f2396103f719c8.jpg">
                </div>
                <div class="col-sm-7">
                        <h3>Family Counceling</h3>
                    Counseling services are available in our Center for personal, family, and interpersonal issues.We will insha'Allah work to
                    provide solutions to social problems; problems such as divorce, marriage counseling, parent-child relationship,
                    neighborhood, friendship, etc. For discussing any social issue or problem with a Counselor, please contact:
                    <br><br>Johara Mohamed | Marriage & Family Therapist
                    <br>johara@watercoursecounseling.org
                </div>
            </div>
            <hr class="mt-4">
            
            <div class="row">
                <div class="col-sm-5">
                    <img class="img-fluid img-thumbnail rounded mx-auto d-block" src="https://static.wixstatic.com/media/28d262_7960866e61e249cf80f2396103f719c8.jpg">
                </div>
                <div class="col-sm-7">
                        <h3>Arbitration</h3>
                        Our Center provides a court-like service for the Muslim community. The Imam will work as a judge to resolve the dispute between any two parties or group. Cases might be social, family matters, business, or any kind of conflict. Based on the complexity of the case, we might organize an arbitration committee from experts to help in solving the problem and taking the decision. All the arbitration decisions are final.
                </div>
            </div>
            <hr class="mt-4">
            
            <div class="row">
                <div class="col-sm-5">
                    <img class="img-fluid img-thumbnail rounded mx-auto d-block" src="https://static.wixstatic.com/media/28d262_7960866e61e249cf80f2396103f719c8.jpg">
                </div>
                <div class="col-sm-7">
                    <h3>Funeral Services</h3>
                        For funeral services in Minnesota, please contact Minnesota Islamic Cemetery:
                        <br><br>

                        Brother Amin Abdel-Kader  651-428-9911
                        <br>
                         
                        
                        Brother Mohamed Elakkade
                        
                        651-428-9900
                        <br><br>
                         
                        
                        Or visit the Cemetery office at:
                        <br>200 West Highway 13, Suite 140
                        Burnsville, Minnesota 55337
                </div>
            </div>
            <hr class="mt-4">
            
            <div class="row">
                <div class="col-sm-5">
                    <img class="img-fluid img-thumbnail rounded mx-auto d-block" src="https://static.wixstatic.com/media/28d262_7960866e61e249cf80f2396103f719c8.jpg">
                </div>
                <div class="col-sm-7">
                    <h3>Ramadan</h3>
                        In the blessed month of Ramadan, all the Halaqas will stop and we will have the following activities instead:
                        <br>
                        (The details and schedules for these activities will be announced
                        at the time of Ramadan, and are subject to change)
                        <br>•	Breaking the Fast: Every night to break the fast: milk, dates, and fruits will be provided inshaAllah.
                        <br>•	Taraweeh prayer: Taraweeh prayer is held every night in congregation in the Mosque.
                        <br>•	Lecture: There will be a lecture every night after the first 4 raka’as of the taraweeh prayer
                        <br>•	Tahajjud prayer: At the last 10 days of Ramadan, The center organizes Tahajjud prayer and night dinners (Suhoor).
                        
                        
                </div>
            </div>
            <hr class="mt-4">
            
            <div class="row">
                <div class="col-sm-5">
                    <img class="img-fluid img-thumbnail rounded mx-auto d-block" src="https://static.wixstatic.com/media/28d262_7960866e61e249cf80f2396103f719c8.jpg">
                </div>
                <div class="col-sm-7">
                    <h3>Eid Prayers</h3>
                        The Eid prayer (for the 2 Eids) will be organized in one of the convenient places in Minnesota.  Please contact us to verify the location.
                </div>
            </div>
            <hr class="mt-4">
            
            <div class="row">
                <div class="col-sm-5">
                    <img class="img-fluid img-thumbnail rounded mx-auto d-block" src="https://static.wixstatic.com/media/28d262_7960866e61e249cf80f2396103f719c8.jpg">
                </div>
                <div class="col-sm-7">
                    <h3>Notary Public</h3>
                    Available on site by request
                </div>
            </div>

        </div>
    </div>
</div>
{% include footer.html %}